h1{
   font-weight: bold;
   text-align: center;
}
p{
   font-weight: bold;
}
.hero{
   margin-top: 100px;
   text-align: center;
}
.country{
   display: flex;
   justify-content: center;
}
.description{
   margin-right: 30px;
}
.count{
   font-weight: normal;
}
.country__item,.toMany{
   text-align: center;
   list-style-type: none;
}
